# My backtesting.py fork for progress bars and eventual GPU support
git+https://github.com/preritdas/backtesting.py.git@progress-bar  # progress bar PR

# Data collection
yfinance==0.1.74
finnhub-python==2.4.14

# Analysis and optimization
# scikit-optimize==0.9.0
git+https://github.com/preritdas/scikit-optimize.git@np-deprecation  # np.int deprecation fix PR
ta-lib==0.4.24
pandas==1.4.3

# CLI and tools
typer==0.6.1
rich==12.5.1
num2words==0.5.11
nexmo==2.5.2
mypytoolkit==1.5.1
pyperclip==1.8.2

# Tests
pytest==7.1.2
pytest-cov==3.0.0
