git+https://github.com/preritdas/backtesting.py.git@progress-bar  # progress bar PR
ta-lib==0.4.24
yfinance==0.1.74
pandas==1.4.3
typer==0.6.1
pyperclip==1.8.2
rich==12.5.1
num2words==0.5.11
mypytoolkit==1.5.0
nexmo==2.5.2